.about__image__container:hover .about__image, .social__icon:hover, .button:hover, .slider__button:hover {
  transition: all 0.3s ease-out;
}

.page__body {
  font-family: "Inter", "Arial", sans-serif;
}

.page {
  height: 100%;
  scroll-behavior: smooth;
}

.page__body {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  font-style: normal;
  color: #403F3D;
  background-color: #E1D4C9;
  margin: 0;
}
.page__body[data-theme=dark] {
  color: #E1D4C9;
  background-color: #292826;
}
.page__body[data-theme=dark] .navigation__link {
  color: #E1D4C9;
}
.page__body[data-theme=dark] .menu-link {
  color: #E1D4C9;
}
.page__body[data-theme=dark] .menu-link--menu-page::before {
  background-color: #E1D4C9;
}
.page__body[data-theme=dark] .menu-link::after {
  background-image: url(../img/icons/coffee-cup-dark-theme.svg);
}

.page__container {
  margin: 0 auto;
  max-width: 1360px;
  width: 100%;
  min-height: 100%;
}
@media (max-width: 1360px) {
  .page__container {
    padding: 0 40px;
    box-sizing: border-box;
  }
}
@media (max-width: 430px) {
  .page__container--inner {
    padding: 0 16px;
  }
}
@media (max-width: 380px) {
  .page__container {
    padding: 0 16px;
  }
}

.no-scroll {
  overflow-y: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reset-list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.hamburger--open::after, .hamburger--open::before, .hamburger::after, .hamburger::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 16px;
  height: 2px;
  background-color: #403F3D;
  border-radius: 50px;
}

.hamburger {
  position: absolute;
  display: none;
  width: 44px;
  height: 44px;
  right: 0;
  border-radius: 100px;
  border: 1px solid #665F55;
  background-color: #E1D4C9;
}
@media (max-width: 768px) {
  .hamburger {
    display: inline-block;
  }
}

.hamburger::before {
  top: 17px;
  left: 13px;
  transition: 0.5s;
}
.hamburger::after {
  bottom: 17px;
  left: 13px;
  transition: 0.5s;
}

.hamburger--open {
  position: absolute;
  display: none;
  width: 44px;
  height: 44px;
  right: 0;
  border-radius: 100px;
  border: 1px solid #665F55;
  background-color: #E1D4C9;
  transition: all 0.3s ease-out;
}
@media (max-width: 768px) {
  .hamburger--open {
    display: inline-block;
  }
}

.hamburger--open::before {
  top: 20.5px;
  left: 13px;
  transition: 0.5s;
  transform: rotate(45deg);
}
.hamburger--open::after {
  bottom: 20px;
  left: 13px;
  transition: 0.5s;
  transform: rotate(-45deg);
}

.menu-link {
  display: flex;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  position: relative;
  margin-right: 28px;
  color: #403F3D;
  text-decoration: none;
}
.menu-link--menu-page {
  cursor: default;
}
.menu-link::after {
  position: absolute;
  content: "";
  background-image: url(../img/icons/coffee-cup.svg);
  width: 20px;
  height: 20px;
  top: 12px;
  right: -28px;
}
.menu-link--menu-page::before {
  position: absolute;
  content: "";
  width: 72px;
  height: 2px;
  background-color: #403F3D;
  left: 0;
  bottom: 8px;
}
@media (max-width: 768px) {
  .menu-link--menu-page::before {
    display: none;
  }
}
@media (max-width: 768px) {
  .menu-link {
    display: none;
  }
}

@media (max-width: 768px) {
  .navigation--opened .menu-link {
    display: flex;
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
    font-style: normal;
    padding: 0;
    padding-right: 20px;
    margin: 0;
  }
  .navigation--opened .menu-link::after {
    width: 40px;
    height: 40px;
    right: -38px;
    top: 0;
    background-image: url(../img/icons/coffee-cup-big.svg);
  }
}

.heading {
  font-size: 60px;
  line-height: 75px;
  font-weight: 600;
  font-style: normal;
}
.heading--light {
  color: #E1D4C9;
}
@media (max-width: 540px) {
  .heading {
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
    font-style: normal;
  }
}

.subheading {
  font-size: inherit;
  line-height: inherit;
  font-weight: 600;
  font-style: italic;
  color: #B0907A;
}

.slider {
  display: flex;
  gap: 40px;
}

.slider__button__container {
  padding-top: 290px;
}
@media (max-width: 670px) {
  .slider__button__container {
    display: none;
  }
}

.slider__container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding-bottom: 24px;
}

.slider__item {
  width: 33vw;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .slider__item {
    width: 58vw;
  }
}
@media (max-width: 380px) {
  .slider__item {
    width: 92vw;
  }
}
.slider__item--current {
  display: flex;
}
.slider__item--next {
  display: none;
}

.slider__image {
  margin-bottom: 22px;
}
@media (max-width: 380px) {
  .slider__image {
    display: none;
  }
}
.slider__image--small {
  display: none;
}
@media (max-width: 380px) {
  .slider__image--small {
    display: block;
    margin-bottom: 20px;
  }
}

.slider__item__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider__button {
  width: 60px;
  height: 60px;
  padding: 0;
  background-color: transparent;
  border-radius: 100%;
  border: 1px solid #665F55;
  background-image: url("../img/icons/arrow-slider.svg");
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.slider__button--next {
  transform: rotate(180deg);
}
.slider__button:hover {
  background-color: #665F55;
  background-image: url("../img/icons/arrow-slider-light.svg");
}

.slider__subtitle {
  margin: 0 0 16px 0;
  text-align: center;
}

.slider__description {
  margin: 0 0 16px 0;
  text-align: center;
  font-size: inherit;
  line-height: inherit;
  font-weight: 400;
  font-style: normal;
}

.slider__price {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  font-style: normal;
}

.control {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.control__button {
  width: 40px;
  height: 4px;
  background-color: #C1B6AD;
  border-radius: 100px;
  border: none;
}
.control__button--current {
  background-color: #665F55;
}

.button {
  color: #403F3D;
  text-decoration: none;
  text-align: center;
  background-color: #E1D4C9;
  border-radius: 100px;
}
.button--bordered {
  border: 1px solid #665F55;
  text-align: left;
}
.social {
  display: flex;
  gap: 12px;
}
@media (max-width: 380px) {
  .social {
    flex-wrap: wrap;
  }
}

.social__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 100px;
}

.social__icon {
  stroke: #E1D4C9;
  width: 60px;
  height: 60px;
  border-radius: 100px;
}
.social__icon:hover {
  stroke: #403F3D;
  background-color: #E1D4C9;
  border-radius: 100px;
}

.social__icon__circle {
  stroke: #E1D4C9;
}

.contacts {
  display: flex;
  flex-direction: column;
  padding-top: 34px;
  padding-bottom: 30px;
  color: #E1D4C9;
}
@media (max-width: 768px) {
  .contacts {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.contacts__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  font-style: normal;
  margin: 0 0 40px 0;
}

.contacts__address,
.contacts__phone {
  position: relative;
  margin: 0 0 20px 0;
  padding-left: 28px;
  cursor: pointer;
  background-image: url(../img/icons/pin.svg);
  background-repeat: no-repeat;
  background-position: left 0;
}
.contacts__address:hover::after,
.contacts__phone:hover::after {
  position: absolute;
  content: "";
  width: 182px;
  height: 2px;
  background-color: #E1D4C9;
  bottom: -2px;
  left: 0;
}

.contacts__phone-link,
.contacts__address-link {
  text-decoration: none;
  color: #E1D4C9;
}

.contacts__phone {
  background-image: url(../img/icons/phone.svg);
}

.contacts__time {
  margin: 0;
  padding-left: 28px;
  background-image: url(../img/icons/clock.svg);
  background-repeat: no-repeat;
  background-position: left 0;
}

.radio {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding-bottom: 49px;
}
@media (max-width: 540px) {
  .radio {
    gap: 8px;
  }
}
@media (max-width: 380px) {
  .radio {
    flex-wrap: wrap;
  }
}

.radio__item--current {
  cursor: auto;
}

.radio__label {
  position: relative;
  background-color: #E1D4C9;
  border-radius: 100px;
  border: 1px solid #C1B6AD;
  padding: 13px 16px 12px 8px;
  cursor: pointer;
}
[data-theme=dark] .radio__label {
  background-color: #292826;
  border: 1px solid #665F55;
}
.radio__label--checked {
  color: #E1D4C9;
  background-color: #665F55;
  cursor: default;
}
[data-theme=dark] .radio__label--checked {
  background-color: #403F3D;
  border: 1px solid #403F3D;
}
.radio__label:hover:not(.radio__label--checked) {
  color: #E1D4C9;
  background-color: #665F55;
  transition: all 0.3s ease-out;
}
[data-theme=dark] .radio__label:hover:not(.radio__label--checked) {
  background-color: #403F3D;
  border: 1px solid #403F3D;
}

.radio__description {
  padding-left: 38px;
}

.radio__icon {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background-color: #C1B6AD;
  border-radius: 100px;
  left: 8px;
  top: 6px;
  background-image: url(../img/icons/coffee-icon.png);
  background-repeat: no-repeat;
  background-position: center;
}
.radio__icon--second {
  background-image: url(../img/icons/tea-icon.png);
}
.radio__icon--third {
  background-image: url(../img/icons/dessert-icon.png);
}
[data-theme=dark] .radio__icon {
  background-color: #292826;
}
[data-theme=dark] .radio__icon--theme {
  background-color: #665F55;
}

[data-theme=dark] .radio__label:hover:not(.radio__label--checked) .radio__icon {
  background-color: #292826;
  transition: all 0.3s ease-out;
}

.subtitle {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  font-style: normal;
}

.theme {
  display: flex;
  gap: 8px;
  padding: 3px;
  border: 1px solid #C1B6AD;
  border-radius: 100px;
  margin-right: 24px;
}
@media (max-width: 768px) {
  .theme {
    margin-right: 0;
  }
}
.theme__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.theme__button {
  width: 36px;
  height: 36px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3s ease-out;
  border-radius: 50%;
  cursor: pointer;
}
.theme__button--light {
  background-image: url(../img/icons/light.svg);
}
.theme__button--dark {
  background-image: url(../img/icons/moon.svg);
}
.theme__button--dark:hover {
  background-color: #665F55;
}

[data-theme=dark] .theme__button--light {
  background-image: url(../img/icons/sun-dark-theme.svg);
}
[data-theme=dark] .theme__button--light:hover {
  background-color: #403F3D;
}
[data-theme=dark] .theme__button--dark {
  background-image: url(../img/icons/moon-dark-theme.svg);
}

.footer {
  padding-bottom: 40px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  background-color: #665F55;
  padding: 100px 100px 97px 100px;
  border-radius: 40px;
}
@media (max-width: 768px) {
  .footer__container {
    flex-direction: column;
    padding: 100px 60px;
  }
}
@media (max-width: 540px) {
  .footer__container {
    padding: 60px 16px;
  }
}

.footer__social__container {
  max-width: 39vw;
}
@media (max-width: 768px) {
  .footer__social__container {
    max-width: 100%;
    padding-bottom: 100px;
  }
}
@media (max-width: 380px) {
  .footer__social__container {
    padding-bottom: 38px;
  }
}

.footer__contacts__container {
  width: 530px;
}
@media (max-width: 768px) {
  .footer__contacts__container {
    max-width: 100%;
  }
}

.footer__title {
  margin: 0 0 45px 0;
}

.page-header {
  position: relative;
  display: flex;
  padding: 20px 0;
}
@media (max-width: 768px) {
  .page-header {
    align-items: center;
  }
}

.logo {
  z-index: 2;
}

.logo__image {
  display: block;
}

.navigation {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex: 1 0 0;
}
@media (max-width: 768px) {
  .navigation {
    justify-content: end;
    padding-right: 68px;
  }
}

.navigation__list {
  display: flex;
  flex: 1 0 0;
  justify-content: center;
}
@media (max-width: 768px) {
  .navigation__list {
    display: none;
  }
}

.navigation__item {
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.navigation__link {
  color: #403F3D;
  text-decoration: none;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .navigation--opened {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 80px;
    left: 0;
    max-width: 768px;
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
    background-color: #E1D4C9;
    padding: 80px 40px 384px 40px;
    transition: 0.5s;
  }
}
@media (max-width: 540px) {
  .navigation--opened {
    max-width: 540px;
    width: 100%;
  }
}
@media (max-width: 380px) {
  .navigation--opened {
    padding: 80px 16px 184px 16px;
    max-width: 380px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .navigation--opened .navigation__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .navigation--opened .navigation__item {
    display: flex;
    padding: 0;
    margin-bottom: 60px;
  }
  .navigation--opened .navigation__item:last-child {
    margin-bottom: 100px;
  }
}

@media (max-width: 768px) {
  .navigation--opened .navigation__link {
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
    font-style: normal;
  }
}

.main__header {
  padding-bottom: 100px;
}

.hero__container {
  background-image: url("../img/background-hero.jpg");
  background-size: cover;
  background-position: center;
  padding: 100px;
  border-radius: 40px;
}
@media (max-width: 768px) {
  .hero__container {
    padding-left: 60px;
  }
}
@media (max-width: 540px) {
  .hero__container {
    padding: 60px 16px;
  }
}
@media (max-width: 280px) {
  .hero__container {
    padding-left: 10px;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  width: 530px;
}
@media (max-width: 768px) {
  .hero {
    width: 69vw;
  }
}
@media (max-width: 380px) {
  .hero {
    width: 83vw;
  }
}

.hero__title {
  margin: 0 0 40px 0;
  font-size: 72px;
  line-height: 75.6px;
  font-weight: 600;
  font-style: normal;
  color: #E1D4C9;
}
@media (max-width: 540px) {
  .hero__title {
    font-size: 42px;
    line-height: 48.3px;
    font-weight: 600;
    font-style: normal;
  }
}

.hero__subtitle {
  font-size: inherit;
  line-height: inherit;
  font-weight: 600;
  font-style: italic;
  color: #B0907A;
}

.hero__description {
  margin: 0 0 40px 0;
  font-size: inherit;
  line-height: inherit;
  font-weight: 400;
  font-style: normal;
  color: #E1D4C9;
}

.hero__button {
  position: relative;
  padding: 20px 78px 22px 78px;
  align-self: flex-start;
}
@media (max-width: 768px) {
  .hero__button {
    padding-left: 65px;
    padding-right: 90px;
  }
}
.hero__button:hover {
  padding-left: 66px;
  padding-right: 88px;
}
.hero__button:hover::after {
  position: absolute;
  content: "";
  background-image: url(../img/icons/coffee-cup.svg);
  width: 20px;
  height: 20px;
  top: 20px;
  right: 58px;
}
@media (max-width: 768px) {
  .hero__button:hover::after {
    display: none;
  }
}
@media (max-width: 768px) {
  .hero__button {
    background-image: url(../img/icons/coffee-cup.svg);
    background-repeat: no-repeat;
    background-position: top 22px right 62px;
  }
}

.favorite {
  padding-bottom: 95px;
}

.favorite__container {
  display: flex;
  flex-direction: column;
}

.favorite__title {
  text-align: center;
  margin: 0 0 40px 0;
}

.about {
  padding-bottom: 100px;
}

.about__title {
  margin: 0 0 40px 0;
}

.about__container {
  display: grid;
  width: 100%;
  max-width: 1360px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 430px 120px 430px;
  gap: 40px;
}
@media (max-width: 1024px) {
  .about__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.about__image__container {
  display: flex;
  max-width: 48.5vw;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
@media (max-width: 1024px) {
  .about__image__container {
    width: 100%;
    max-width: 67vw;
    height: 590px;
  }
}
@media (max-width: 768px) {
  .about__image__container {
    max-width: 90vw;
  }
}
@media (max-width: 380px) {
  .about__image__container {
    max-width: 92vw;
  }
}
.about__image__container--first {
  grid-column: 1/2;
  grid-row: 1/3;
}
.about__image__container--second {
  grid-column: 1/2;
  grid-row: 3/4;
}
@media (max-width: 1024px) {
  .about__image__container--second {
    display: none;
  }
}
.about__image__container--third {
  grid-column: 2/3;
  grid-row: -4/-3;
}
@media (max-width: 1024px) {
  .about__image__container--third {
    display: none;
  }
}
.about__image__container--fourth {
  grid-column: 2/3;
  grid-row: -3/-1;
}
.about__image__container:hover .about__image {
  cursor: pointer;
  transform: scale(0.91);
}

.mobile-app {
  display: flex;
  padding-bottom: 100px;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .mobile-app {
    flex-direction: column;
    align-items: center;
  }
}

.mobile-app__container {
  padding-top: 144px;
  max-width: 43vw;
  width: 100%;
}
@media (max-width: 1200px) {
  .mobile-app__container {
    max-width: 100%;
    padding-top: 0;
    padding-bottom: 100px;
  }
}
@media (max-width: 380px) {
  .mobile-app__container {
    padding-bottom: 40px;
  }
}

.mobile-app__image__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-app__image {
  display: flex;
}
@media (max-width: 700px) {
  .mobile-app__image {
    display: none;
  }
}
.mobile-app__image--small {
  display: none;
}
@media (max-width: 700px) {
  .mobile-app__image--small {
    display: flex;
    width: 100%;
  }
}

.mobile-app__title {
  margin: 0 0 40px 0;
}

.mobile-app__description {
  font-size: inherit;
  line-height: inherit;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 38px 0;
}

.mobile-app__button-container {
  display: flex;
  gap: 20px;
}
@media (max-width: 430px) {
  .mobile-app__button-container {
    flex-direction: column;
  }
}

.mobile-app__button {
  width: 200px;
  box-sizing: border-box;
  white-space: nowrap;
  padding: 8px 20px 8px 64px;
  background-image: url(../img/icons/app-icon.svg);
  background-repeat: no-repeat;
  background-position: left 20px center;
}
.mobile-app__button--second {
  background-image: url(../img/icons/google-icon.svg);
}
.mobile-app__button:hover {
  color: #E1D4C9;
  background-color: #665F55;
  background-image: url(../img/icons/app-icon-light.svg);
}
.mobile-app__button--second:hover {
  background-image: url(../img/icons/google-icon-light.svg);
}

.button__subtext {
  font-size: 10px;
  line-height: 14px;
  font-weight: 600;
  font-style: normal;
}

.coffee-menu {
  padding-bottom: 98px;
}

.coffee-menu__title {
  margin: 0 auto 52px auto;
  width: 60vw;
  text-align: center;
}
@media (max-width: 1024px) {
  .coffee-menu__title {
    width: 100%;
  }
}

.menu {
  display: flex;
  flex-wrap: wrap;
  max-width: 1360px;
  width: 100%;
  gap: 39px;
}
@media (max-width: 1360px) {
  .menu {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .menu {
    padding-bottom: 40px;
  }
}

.menu__item {
  width: 310px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid #C1B6AD;
  border-radius: 40px;
  cursor: pointer;
}
.menu__item--hidden {
  display: none;
}
.menu__item--tea {
  display: none;
}
.menu__item--dessert {
  display: none;
}
.menu__item:hover .menu__image {
  transition: transform 0.8s ease;
  transform: scale(0.91);
}
@media (max-width: 768px) {
  .menu__item:nth-child(n+5) {
    display: none;
  }
}
@media (max-width: 375px) {
  .menu__item {
    max-width: 82vw;
  }
}

.menu__image__container {
  height: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 40px;
}
@media (max-width: 375px) {
  .menu__image__container {
    max-width: 82vw;
  }
}

.menu__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  font-style: normal;
  margin: 0 0 12px 0;
}

.menu__item__description {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;
  min-height: 196px;
}

.menu__description {
  font-size: inherit;
  line-height: inherit;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 12px 0;
}

.menu__price {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  font-style: normal;
  margin: 0;
}

.load__button {
  display: none;
  position: relative;
  width: 60px;
  height: 60px;
  background-color: #E1D4C9;
  border: 1px solid #665F55;
  border-radius: 100px;
  margin: 0 auto;
}
.load__button::after {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../img/icons/load.svg);
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .load__button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
