$color-base: #E1D4C9;
$color-background: #665F55;
$color-text: #403F3D;
$color-selected-text: #B0907A;
$color-border: #C1B6AD;
$color-dark-theme: #292826;

$content-width: 1360px;
$tablet-width: 768px;
$mobile-width: 380px;