@mixin reset-list() {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
  
@mixin visually-hidden() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
} 

@mixin font ($size, $height, $weight: 600, $style: normal) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  font-style: $style;
}

@mixin media-laptop {
  @media (max-width: $content-width) { @content;}  
}

@mixin media-tablet {
  @media (max-width: $tablet-width) { @content; }
}

@mixin media-mobile {
  @media (max-width: $mobile-width) { @content; }
}