.button {
  color: $color-text;
  text-decoration: none;
  text-align: center;
  background-color: $color-base;
  border-radius: 100px;
  
  
  &--bordered {
    border: 1px solid $color-background; 
    text-align: left;
  }

  &:hover {
    @extend %transition;
  }
}