.footer {
  padding-bottom: 40px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  background-color: $color-background;
  padding: 100px 100px 97px 100px;
  border-radius: 40px;  

  @include media-tablet {
    flex-direction: column;
    padding: 100px 60px;
  }

  @media (max-width: 540px) {
    padding: 60px 16px;
  }
}

.footer__social__container {
  max-width: 39vw;

  @include media-tablet {
    max-width: 100%;
    padding-bottom: 100px;
  }

  @include media-mobile {
    padding-bottom: 38px;
  }
}

.footer__contacts__container {
  width: 530px;

  @include media-tablet {
    max-width: 100%;
  }
}

.footer__title {
  margin: 0 0 45px 0;
}