.main__header {
  padding-bottom: 100px;
}

.hero__container {
  background-image: url("../img/background-hero.jpg");
  background-size: cover;
  background-position: center;
  padding: 100px;
  border-radius: 40px;

  @include media-tablet {
    padding-left: 60px;    
  }

  @media (max-width: 540px) {
    padding: 60px 16px;
  }

  @media (max-width: 280px) {
    padding-left: 10px;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  width: 530px;

  @include media-tablet {
    width: 69vw;    
  }

  @include media-mobile {
    width: 83vw;
  }
}

.hero__title {
  margin: 0 0 40px 0;
  @include font($size: 72px, $height: 75.6px);
  color: $color-base;

  @media (max-width: 540px) {
    @include font($size: 42px, $height: 48.3px);
  }
}

.hero__subtitle {
  @include font($size: inherit, $height: inherit, $style: italic);
  color: $color-selected-text;
}

.hero__description {
  margin: 0 0 40px 0;
  @include font($size: inherit, $height: inherit, $weight: 400);
  color: $color-base;
}

.hero__button {
  position: relative;
  padding: 20px 78px 22px 78px;
  align-self: flex-start;

  @include media-tablet {
    padding-left: 65px;
    padding-right: 90px;
  }

  &:hover {
    padding-left: 66px;
    padding-right: 88px;
  }

  &:hover::after {
    position: absolute;
    content: '';
    background-image: url(../img/icons/coffee-cup.svg);
    width: 20px;
    height: 20px;
    top: 20px;
    right: 58px; 
    
    @include media-tablet {
      display: none;
    }
  }

  @include media-tablet {
    background-image: url(../img/icons/coffee-cup.svg);
    background-repeat: no-repeat;
    background-position: top 22px right 62px;
  }
}